<!DOCTYPE html>
<html>
<head>
    <title>File metadata</title>
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
</head>
<body>
        <div class="container" style="padding-top: 10px">
            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="exampleFormControlFile1">Upload your file</label>
                            <input type="file" class="form-control-file" id="exampleFormControlFile1">
                        </div>
                    </form>
                </div>
            </div>
        </div>
</body>
</html>
